/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "../vik_shield_dts_preprocess.h"
#include "vik_cirque_spi_split.dtsi"

#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/input/input-event-codes.h>

/ {
    glidepoint_input_listener: glidepoint_input {
        compatible = "zmk,input-listener";
        device = <&glidepoint_split>;

        // input-processors = <&xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT) &xy_scaler 3 2>;
    };
};
